@import "tailwindcss";

* {
  outline: none;
}

@theme inline {
  --color-gray-10: #1a1a1a;
  --color-gray-15: #262626;
  --color-gray-08: #141414;
  --color-gray-09: #999999;
  --color-gray-30: #4d4d4d;
  --color-gray-40: #666666;
  --color-purple-60: #703bf7;
  --breakpoint-large: 1650px;
  --breakpoint-laptop: 1441px;
  --breakpoint-prop-custom: 1070px;
  --breakpoint-md-custom: 991px;
  --breakpoint-tiny-mobile: 400px;
  --breakpoint-small-mobile: 380px;
  --max-width-container: 1596px;
}

@layer components {
  .gray_text {
    @apply text-gray-09 font-medium leading-normal text-lg max-laptop:text-[16px] max-sm:text-sm;
  }
  .semi_bold_font {
    @apply text-white font-semibold text-2xl leading-normal max-laptop:text-xl max-sm:text-[18px];
  }
  .max_container {
    @apply max-w-container max-laptop:max-w-7xl mx-auto max-large:px-4;
  }
  .large_text {
    @apply text-5xl font-semibold text-white max-laptop:text-[38px] leading-normal max-sm:text-[28px];
  }
}

.custom-scroll::-webkit-scrollbar {
  height: 2px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #262626;
}

.custom-scroll::-webkit-scrollbar-button {
  display: none;
}
