@import "tailwindcss";

* {
  outline: none;
}

@theme inline {
  --color-gray-10: #1a1a1a;
  --color-gray-15: #262626;
  --color-gray-08: #141414;
  --color-gray-09: #999999;
  --color-purple-60: #703bf7;
  --breakpoint-laptop: 1441px;
  --breakpoint-small-mobile: 380px;
  --max-width-container: 1596px;
}
